In [228]:
# Explanation:
# - This block calls the `load_transaction_data()` function.
# - You can change the file name here if needed.
# - We display the first few rows to visually confirm loading.

data_path = 'transactions_data.csv'  # Make sure this is in the same directory as your notebook
df = load_transaction_data(data_path)

# Preview loaded data
df.head()

ERROR: Missing required columns: ['transaction_id', 'customer_id', 'transaction_amount', 'transaction_date']
WARNING: Missing 'transaction_id'. Filling with default value 'Unknown'.
WARNING: Missing 'customer_id'. Filling with default value 'Unknown'.
WARNING: Missing 'transaction_amount'. Adding NaN as placeholder.
WARNING: Missing 'transaction_date'. Adding today's date.
INFO: Data loaded successfully with shape: (10000, 12)

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost,transaction_id,customer_id,transaction_amount,transaction_date
0,0.0,1.0,88.0,6.0,NaN,2024/03/26,194379.147964,1075200.0,Unknown,Unknown,NaN,2025-07-14
1,1.0,2.0,29.0,19.0,16.0,"July 09, 2024",97930.993380,1428000.0,Unknown,Unknown,NaN,2025-07-14
2,2.0,NaN,28.0,18.0,6.0,04/13/2024,126095.547778,940800.0,Unknown,Unknown,NaN,2025-07-14
3,3.0,4.0,85.0,12.0,12.0,09-06-2023,NaN,1008000.0,Unknown,Unknown,NaN,2025-07-14
4,4.0,5.0,47.0,3.0,8.0,07/06/2021,99575.609634,705600.0,Unknown,Unknown,NaN,2025-07-14